header {
  margin-bottom: 2em;
  background: black;
  color: #ff6200;
  height: 60px;
  padding-top: 25px;
}

nav span {
  font-size: 1.5em;
  margin-left: .5em;
}

nav i {
  display: inline;
  margin-top: 10px;
  margin-left: 1.6em;
  color: #ff6200;
  font-size: 1.5em;
}

nav ul {
  display: inline;
  margin-left: 500px;
}

nav ul li {
  list-style: none;
  display: inline;
  font-size: 1.5em;
  line-height: 1.5em;
  padding-right: 30px;
  margin-top: 100px;
  color: #ff6200;
}

ul li a {
  text-decoration: none;
  color: #ff6200;
}

aside {
  width: 17.539%;
  float: left;
  margin-left: 1.6em;
}

aside + div {
  width: 80%;
  float: left;
}

#image-choices img {
  width: 30%;
  margin: 1.25px;
  height: 200px;
  float: left;
  border: 1px solid black;
}
#image-choices img:nth-child(1) {
  margin-left: 1.6em;
}

#image-choices img:nth-child(2), 
section {
  margin-right: 1.6em;
  margin-left: 1.6em;
}

#image-choices img:nth-child(2) {
  margin-right: 1.6em;
}

aside + div div:nth-child(2) {
  clear: both;
  margin-top: 15em;
}

button {
  width: 200px;
  text-align: center;
  background: #ff6200;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background: black;
  color: #ff6200;
  transition: background color 350ms ease-out;
}

section {
  padding-top: 2em;
  clear: both;
}

canvas {
  margin: 0 auto;
  margin-bottom: 3em;
  padding: 2em;
}

footer {
  text-align: center;
  background: black;
  color: #ff6200;
  height: 4em;
  padding: 3em;
}

