
/* aside {
  width: 30%;
  float: left;
}

#image-choices {
  width: 70%;
  float: left;
} */

#image-choices img {
  width: 33%;
  margin: 1.25px;
  height: 200px;
  float: left;
  border: 1px solid black;
}

